<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nv.datingone"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".DatingOne"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:taskAffinity="com.nv.datingone"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nv.dating.LaunchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nv.dating.sidebar.MenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/SidebarTheme" >
        </activity>
        <activity
            android:name="com.nv.dating.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.nv.dating.FriendsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.nv.dating.WinkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.nv.dating.MessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.nv.dating.ViewedMeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.nv.dating.MyProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.nv.dating.MySettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.nv.dating.UserProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.nv.dating.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>

        <service android:name="com.nv.dating.services.UpLoadsService" >
        </service>

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>